*, *::after, *::before{
    box-sizing: border-box;
}

#projects{
    scroll-margin-top: 55px;
    background-color: rgba(219, 217, 217, 0.5);
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 10px
}

#project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 1em;
    height: fit-content;
}

.card{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}





 @media (width <= 1000px) and (width >700px){
     #project{
        grid-template-columns: 1fr 1fr;
     }
     #projects{
        height: fit-content;
     }
     #projects > h2 {
       padding-top: 10px;
     }
} 

@media(width < 700px){
    #project{
        grid-template-columns: 1fr;
     }
     #projects{
        height: fit-content;
     }
}