*, *::after, *::before{
    box-sizing: border-box;
}
#projects{
    scroll-margin-top: 55px;
    background-color: rgba(219, 217, 217, 0.5);
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#project{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 1em;
}

.card{
    padding: 1em;
    margin: 1em;
}



 @media (width <= 1000px){
     #project{
        grid-template-columns: 1fr 1fr;
     }
     #projects{
        height: fit-content;
     }
     #projects > h2 {
       padding-top: 10px;
     }
} 