*, *::after, *::before{
 box-sizing: border-box;
}

#me{
    display: flex;
    align-items: flex-start;
    width: 90ch;
    
}

#about{
    scroll-margin-top: 57px;
    display: flex;
    height: fit-content;
    width: 100%;
    background-color: rgb(60, 60, 60);
    justify-content: center;
    padding: 2rem;
}

.bio{
    margin-top: 5%;
    width: 90%;
    height: fit-content;
    position: relative;
} 

@media (min-width: 700px){
    .bio{
        width: 50%
    }
}
@media (max-width: 700px){
    .skill{
        height: fit-content;
        padding:5px;
    }
}