*, *::after, *::before{
 box-sizing: border-box;
}

#me{
    display: flex;
    align-items: flex-start;
    width: 90ch;
    
}

#about{
    scroll-margin-top: 57px;
    display: grid;
    height: 50vh;
    background-color: rgb(60, 60, 60);
    justify-items: center;
}

.bio{
    margin-top: 5%;
    width: 90%;
    height: 50vh;
    position: relative;
} 

@media (min-width: 700px){
    .bio{
        width: 50%
    }
}