#form{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(21, 21, 21);
    /* background-color: rgba(219, 217, 217, 0.5); */
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2em;
    font-weight: bold;
}

.contact{
    width: 500px;
    /* background-color: rgba(182, 182, 182, 0.515); */
    background-image: url(../IMages/blob-scene-haikei.svg);
    background-position: center center;
    border-radius: 10px;
    height: 100%;
    padding: 2em;
    margin:1em;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 20px;;
}

#form > h2{
    font-size: 1rem;
  
}

@media (max-width: 400px){
    .contact{
        width:100%;
    }
    #form{
        width:100%;
        height: fit-content;
        padding:1em;
    }
}
