@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

#home{
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 21, 21);

    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    }

.header{
    width: 100%;
    position: fixed;
    z-index: 999;
    color:rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.navigation{
    align-self: center;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.navs{
    cursor: pointer;
    padding: 1em;
   
}

.hero{
    height: 100vh;
    background-position: 0%;
    display: grid; 
    grid-template-columns: 1.5fr 2fr 1.5fr;
    place-content: center;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.icons{
    background-color: white;
    height: 3em;
    width: 3em;
    border-radius: 1em;
    z-index: -1;
}



.category{
    display: grid;
    place-content: center;
    color: rgb(0, 0, 0);
    position: relative;
  
}

#webdev, #music{
    background-color: rgba(0, 0, 0,0.5);
    position: absolute;
    
}

#webdev{
    scroll-margin-top: 100px;
    top: 50%;
    left: 25%;
}
#music{
    top: 50%;
    right: 25%;
}
.category > div {
    display: grid;
    place-content: center;   
    color: white; 
}


.intro{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1em;
    height: 500px;
    text-align:left;
    background-color: rgba(0, 0, 0, 1);
    animation: intro 1000ms ease-in-out 500ms;
    z-index: 10;
    border-radius: 1em;
    
}

#text{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 7fr;
    place-self: center;
    width: 300px;
    height: 300px;
   
}
.introduction{
    top: 0;
    left: 50;
    padding-left: 10px;
    font-family: 'Laila', sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(255, 255, 255);

}
.navs:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);

}




.mobileNavigation{
cursor: pointer;
position: absolute;
display: grid;
grid-template-rows: 1fr 1fr 1fr;
right: 0.5%;
}

.mobileNavigationOpen{
background-color: rgba(0, 0, 0, 0.8);
width: 100vw;
height: 50vh;
position: absolute;
top: 6vh;
transition: all 1.5s ease-in-out;
display: flex;
flex-direction: column;

font-size: 1.5rem;
}

.mobileNav{
    margin:3px;
    height: 3px;
    width: 35px;
    background-color: black;
}

.nextPage {
    display: grid;
    place-content: center;
    min-height: 30vh;
}


.nextPage > svg{
    background-color: rgb(192, 189, 189);
    border-radius: 50%;
    cursor: pointer;
    height: 35px;
    width: 3px;
    padding: 5px;
}

#contactMe{
    display:flex;
    justify-content:flex-end
}

#contactMeMobile{
    position: absolute;
    top: 310px;
    width: 100vw;
    height: 5vh;
    display: block;

font-size: 1.5rem;

 }

@media (max-width: 700px) {
    
    .navigation, .img{
        display: none;
    }
    
    .header{
        height: 7vh;
        display: flex;
       
        width: 100vw;
    }
    #contactMe{
        display: none;
    }
    #contactMeMobile > a,  #contactMeMobile > button {
    width: 100vw
    }

    .mobileNav{
       background-color: white;
    }
    .introduction{
        color: rgb(0, 0, 0);
        font-size: 2rem;
        padding:8px;
       
    }
    #home{
         background-image: url(./IMages/IMG_1923.PNG);
        background-size: cover;
    background-attachment:inherit;

    }
    #text1{
        display:none;
        position: absolute;
        text-align: center;
        top: 10vh;
        left: 22%;
       
    }


    .intro{
        visibility:hidden;
    }
    #text{
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
         
    }
    .hero{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        height: 100vh;
    }
    .icons{
        color: white;
    }
}
 
@media (min-width: 700px) {
    .mobileNav, .mobileNavigationOpen, #contactMeMobile{
        display: none;
    }
    .navigation, .img{
        display: flex;
    }
    #text1{
        display: none;
    }
}


